@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}

@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}

@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}

@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}

html {
    scrollbar-width: thin;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #404040ff;
}

#header {
    background-color: #262626ff;
    font-family: Sofia;
    color: white;
    text-align: center;
    padding-bottom: 7px;
    font-size: 50px;
}

#ribbonTop {
    position: relative;
    text-align: center;
    color: #404040ff;
    font-family: Sofia;
    font-size: 22px;
}

#ribbonBot {
    position: relative;
    text-align: center;
    font-family: Sofia;
    font-size: 22px;
    margin-bottom: 35px;
}

.ribbonImg {
    display: block;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    height: 35px;
}

#homeButtonImg {
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#homeButton {
    height: 35px;
    width: 35px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.lilButtonImg {
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.lilButton {
    height: 35px;
    width: 35px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.ribbonLeg {
    display: block;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 20px;
}

.infoLeg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Blanch;
    color: #262626ff;
    text-align: center;
    font-size: 20px;
}

.ribbonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sofia;
    color: #404040ff;
    text-decoration: none;
}

.ribbonPhoto {
    width: 286px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flowerNbr {
    font-family: Blanch;
    font-size: 30px;
    position: absolute;
    top: 204px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #404040ff;
}

#content {
    margin-bottom: 120px;
}

.carte {
    display: flex;
    margin-top: 35px;
    background-color: transparent;
    width: 220px;
    height: 220px;
    perspective: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.carteIn {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carte:hover .carteIn {
    transform: rotateY(180deg);
}

.carteDev, .carteDer {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #262626ff;
}

.carteDer {
    background-color: #262626ff;
    color: #404040ff;
    transform: rotateY(180deg);
}

.legende {
    text-align: center;
    font-family: Sofia;
    font-size: 15px;
    color: white;
    line-height: 3px;
}

.legende br {
	line-height: 0px;
}

.lilLeg {
	font-size: 8px;
}

.dateLeg {
	font-family: Blanch;
	font-size: 18px;
}

.moreInfos {
	line-height: 1px;
}

.nomScientLeg {
	line-height: 80%;
}

.nomLeg {
	line-height: 100%;
}

#menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 302px;
}

#button1, #button2, #button3, #button4 {
    display: inline-block;
}

#button1, #button2, #button3 {
    padding-right: 50px;
}

.basic-grid {
    padding-left: 35px;
    padding-right: 35px;

    display: grid;
    grid-gap: 76px;

    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 180px;
}

#goTopButton {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}

#goTopButtonImg {
    height: 50px;
}

.evenMoreInfos {
    text-decoration: none;
    color: #404040ff;
}

#title {
    color: white;
    font-size: 60px;
    font-family: Blanch;
    text-align: center;
    padding-top: 35px;
}

#photoNbr, #flowerNbr {
    color: white;
    font-size: 30px;
    font-family: Blanch;
    text-align: center;
    padding-top: 35px;
}

#flowerNbr {
    font-size: 40px;
}

#originAndDate {
    color: white;
    font-size: 40px;
    font-family: Blanch;
    text-align: center;
    padding-top: 110px;
}