@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}

@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}

@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}

@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}

@font-face {
    font-family: ConfigCondensed;
    src: url('fonts/ConfigCondensed.otf');
}

html {
    scrollbar-width: thin;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #404040ff;
}

#header {
    background-color: #262626ff;
    font-family: Sofia;
    color: white;
    text-align: center;
    padding-bottom: 7px;
    font-size: 50px;
}

#ribbonTop {
    position: relative;
    text-align: center;
    color: #404040ff;
    font-family: Sofia;
    font-size: 22px;
}

#ribbonBot {
    position: relative;
    text-align: center;
    font-family: Sofia;
    font-size: 22px;
    margin-bottom: 35px;
}

.ribbonImg {
    display: block;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    height: 35px;
}

#menu {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#home-button {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.menu-button-img {
    padding-top: 6px;
    height: 22px;
}

@keyframes slide {
  0% {margin-top:0px;}
  50% {margin-top:-32px;}
  100% {margin-top:-32px;}
}
@keyframes slide2 {
  0% {margin-top:-35px;}
  50% {margin-top:0px;}
  100% {margin-top:0px;}
}

.ribbonLeg {
    display: block;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 20px;
}

.infoLeg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Blanch;
    color: #262626ff;
    text-align: center;
    font-size: 20px;
}

.ribbonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sofia;
    color: #404040ff;
    text-decoration: none;
}

.ribbonPhoto {
    width: 286px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flowerNbr {
    font-family: Blanch;
    font-size: 30px;
    position: absolute;
    top: 204px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #404040ff;
}

#content {
    margin-bottom: 35px;
    background-color: white;
    color: #262626ff;
    font-family: ConfigCondensed;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 35px;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-size: 30px;
}

#subtitle {
    font-size: 20px;
}

#photoNbr {
    color: white;
    font-size: 35px;
    font-family: Blanch;
    text-align: center;
}

.carte {
    display: flex;
    margin-top: 35px;
    background-color: transparent;
    width: 220px;
    height: 220px;
    perspective: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.carteIn {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carte:hover .carteIn {
    transform: rotateY(180deg);
}

.carteDev, .carteDer {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #262626ff;
}

.carteDer {
    background-color: #262626ff;
    color: #404040ff;
    transform: rotateY(180deg);
}

.legende {
    text-align: center;
    font-family: Sofia;
    font-size: 15px;
    color: white;
    line-height: 3px;
}

.legende br {
	line-height: 0px;
}

.lilLeg {
	font-size: 8px;
}

.dateLeg {
	font-family: Blanch;
	font-size: 18px;
}

.moreInfos {
	line-height: 1px;
}

.nomScientLeg {
	line-height: 80%;
}

.nomLeg {
	line-height: 100%;
}

#menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 302px;
}

#button1, #button2, #button3, #button4 {
    display: inline-block;
}

#button1, #button2, #button3 {
    padding-right: 50px;
}

.basic-grid {
    padding-left: 35px;
    padding-right: 35px;

    display: grid;
    grid-gap: 76px;

    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 180px;
}

#goTopButton {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}

#goTopButtonImg {
    height: 50px;
}

.evenMoreInfos {
    text-decoration: none;
    color: #404040ff;
}

#originAndDate {
    color: white;
    font-size: 40px;
    font-family: Blanch;
    text-align: center;
    padding-top: 110px;
}

.ribbonPhotoB {
    width: 934px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carteBig {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-bottom: 120px;
}


#polaroid {
    background-color: white;
    width: 248px;
    display: block;
    text-align: center;
    height: 286px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.20);
}

.polaroid-photo {
    width: 216px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 0px;
}

#polaroid span {
    font-family: KaushanScript;
    color: #404040ff;
    padding-bottom: 20px;
    height: 20px;
}


.tiles {
    width: 248px;
    height: 300px;
}

.photo {
    height: 216px;
}

.frame {
    height: 216px;
    width: 216px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.tile {
    padding-top: 16px;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: white;
    width: 248px;
    display: block;
    text-align: center;
    height: 286px;
    box-shadow: 2px 2px rgba(0  , 0, 0, 0.20);
}

.tile::before {
    opacity: 0%;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    display: block;
    height: 302px;
    width: 248px;
    position: absolute;
    transition-duration: 200ms;
    margin-top: -16px;
}

.tiles:hover .tile::before {
    opacity: 100%;
}

.tiles:hover .photo {
    height: 230px;
    transition-duration: 300ms;
    filter: brightness(0.7)  blur(2px); 
}

.title {
    position: absolute;
    display: block;
    top: 300px;
    transition-duration: 200ms;
    color: white;
    transition-delay: 0s;
    font-family: ConfigCondensed;
    font-size: 29px;
    padding-left: 20px;
}

.tile:hover .title {
    top: 170px;
}

.fullscreen {
    transition-delay: 0s;
    position: absolute;
    display: block;
    opacity: 0;
    top: 109px;
    color: white;
    font-family: ConfigCondensed;
    font-size: 20px;
    transition-duration: 250ms;
    padding-left: 109px;
    height: 30px;
    cursor: pointer;
}

.tile:hover .fullscreen {
    transition-delay: 200ms;
    opacity: 100;
    top: 109px;
}

.number {
    transition-delay: 0s;
    position: absolute;
    display: block;
    opacity: 0;
    top: 14px;
    color: white;
    font-family: ConfigCondensed;
    font-size: 20px;
    transition-duration: 250ms;
    font-size: 30px;
    padding-right: 20px;
    right: 0px;
}

.tile:hover .number {
    transition-delay: 200ms;
    opacity: 100;
    top: 14px;
}

.details {
    transition-delay: 0s;
    position: absolute;
    display: block;
    top: 300px;
    color: white;
    font-family: ConfigCondensed;
    font-size: 20px;
    transition-duration: 200ms;
    padding-left: 20px;
}

.tile:hover .details {
    transition-delay: 100ms;
    top: 205px;
}

.zoomin {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#img-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#zoom-img {
    padding-top: 200px;
    height: 640px;
}

.basic-grid {
    margin-right: auto;
    margin-left: auto;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    display: grid;
    grid-gap: 30px 10px;

    grid-template-columns: repeat(auto-fit, 248px);
    grid-auto-rows: 302px;
}

