@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}

@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}

@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #404040ff;
}

#header {
    background-color: #262626ff;
    font-family: Sofia;
    color: white;
    text-align: center;
    padding-bottom: 7px;
    font-size: 50px;
}

#ruban1 {
    position: relative;
    text-align: center;
    color: #404040ff;
    font-family: Sofia;
    font-size: 22px;
}

#ruban1img {
    display: block;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    height: 35px;
}

#wantmore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#photo {
    margin-top: 35px;
    position: relative;
    text-align: center;
    color: #404040ff;
    font-family: Sofia;
    font-size: 22px;
}

#flower1 {
    width: 220px;
    height: 220px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#rubanphoto {
    width: 286px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flowertext {
    font-family: Blanch;
    font-size: 32px;
    position: absolute;
    top: 202px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #404040ff;
}

.carte {
    margin-top: 35px;
    background-color: transparent;
    width: 220px;
    height: 220px;
    perspective: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.carte-inter {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carte:hover .carte-inter {
    transform: rotateY(180deg);
}

.carte-dev, .carte-der {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carte-der {
    background-color: #262626ff;
    color: #404040ff;
    transform: rotateY(180deg);
}

.legende {
    text-align: center;
    margin-top: 40%;
    font-family: Sofia;
    font-size: 20px;
    color: white;
}