@font-face {
    font-family: Evogria;
    src: url('../fonts/Evogria.otf');
}
@font-face {
    font-family: Sofia;
    src: url('../fonts/Sofia.otf');
    font-display: swap;
}
@font-face {
    font-family: Blanch;
    src: url('../fonts/Blanch.otf');
    font-display: swap;
}
@font-face {
    font-family: KaushanScript;
    src: url('../fonts/KaushanScript.otf');
}
@font-face {
    font-family: ConfigCondensed;
    src: url('../fonts/ConfigCondensed.otf');
}

:root {
    --light-color: #404040ff;
    --dark-color: #262626ff;
}

*,*:focus,*:hover{
    outline:none;
}

html {
    scrollbar-width: thin;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: var(--light-color);
}

/* HEADER */

#header {
    background-color: var(--dark-color);
    font-family: Sofia;
    color: white;
    text-align: center;
    padding-bottom: 7px;
    font-size: 50px;
}

/* TOP AND BOTTOM RIBBONS */

#ribbonTop, #ribbonBot {
    position: relative;
    text-align: center;
    color: var(--light-color);
    font-family: Sofia;
    font-size: 22px;
}

#ribbonBot {
    margin-bottom: 35px;
}

#content {
    margin-bottom: 120px;
}

.ribbonImg {
    display: block;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    height: 35px;
}

.ribbonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sofia;
    color: var(--light-color);
    text-decoration: none;
}

/* PHOTOS GRID */

.basic-grid {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    display: grid;
    grid-gap: 30px 10px;

    grid-template-columns: repeat(auto-fit, 248px);
    grid-auto-rows: 302px;
}

/* GO TOP BUTTON */

#gotop-button {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    cursor: pointer;
}
#gotop-img {
    height: 50px;
}

/* NAVIGATION MENU */

#menu {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
#search-button, #lflow-button, #insta-button, #info-button, #leaf-button {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.menu-button-img {
    padding-top: 6px;
    height: 22px;
}
@keyframes slide {
  0% {margin-top:0px;}
  50% {margin-top:-32px;}
  100% {margin-top:-32px;}
}
@keyframes slide2 {
  0% {margin-top:-35px;}
  50% {margin-top:0px;}
  100% {margin-top:0px;}
}

/* CARDS */

#polaroid {
    background-color: white;
    width: 248px;
    display: block;
    text-align: center;
    height: 286px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.20);
}

.polaroid-photo {
    width: 216px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 0px;
}

#polaroid span {
    font-family: KaushanScript;
    color: var(--light-color);
    padding-bottom: 20px;
    height: 20px;
}


.tiles {
    width: 248px;
    height: 300px;
}

.photo {
    height: 216px;
}

.frame {
    height: 216px;
    width: 216px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.tile {
    padding-top: 16px;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: white;
    width: 248px;
    display: block;
    text-align: center;
    height: 286px;
    box-shadow: 2px 2px rgba(0  , 0, 0, 0.20);
}

.tile::before {
    opacity: 0%;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    display: block;
    height: 302px;
    width: 248px;
    position: absolute;
    transition-duration: 200ms;
    margin-top: -16px;
}

.tiles:hover .tile::before {
    opacity: 100%;
}

.tiles:hover .photo {
    height: 230px;
    transition-duration: 300ms;
    filter: brightness(0.7)  blur(2px); 
}

.title {
    position: absolute;
    display: block;
    top: 300px;
    transition-duration: 200ms;
    color: white;
    transition-delay: 0s;
    font-family: ConfigCondensed;
    font-size: 29px;
    padding-left: 20px;
}

.tile:hover .title {
    top: 170px;
}

.plus {
    transition-delay: 0s;
    position: absolute;
    display: block;
    opacity: 0;
    top: 23px;
    color: white;
    font-family: ConfigCondensed;
    font-size: 20px;
    transition-duration: 250ms;
    padding-left: 21px;
    height: 20px;
    cursor: pointer;
    z-index: -10;
}

.tile:hover .plus {
    transition-delay: 200ms;
    opacity: 100;
    top: 23px;
    z-index: 10;
}

.number {
    transition-delay: 0s;
    position: absolute;
    display: block;
    opacity: 0;
    top: 14px;
    color: white;
    font-family: ConfigCondensed;
    font-size: 20px;
    transition-duration: 250ms;
    font-size: 30px;
    padding-right: 20px;
    right: 0px;
}

.tile:hover .number {
    transition-delay: 200ms;
    opacity: 100;
    top: 14px;
}

.details {
    transition-delay: 0s;
    position: absolute;
    display: block;
    top: 300px;
    color: white;
    font-family: ConfigCondensed;
    font-size: 20px;
    transition-duration: 200ms;
    padding-left: 20px;
}

.tile:hover .details {
    transition-delay: 100ms;
    top: 205px;
}
